@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&Lato&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: "Lato", "Roboto", "Source Sans Pro", sans-serif;
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fcfcfd;
}

.lateral-menu {
    display: flex;
    flex-direction: column;
    background-color: #b00000;
    width: 15vw;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.logo {
    width: 100%;
}

.logo img {
    width: 100%;
}

.options {
    width: 90%;
}

.options-list,
.menu-list {
    display: flex;
    flex-direction: row;
    padding: 15px 5px 15px 5px;
}

.options-list svg {
    width: 15%;
    fill: #fcfcfd;
}

.menu-list svg {
    width: 15%;
    fill: #b00000;
}

.options-list a,
.menu-list a {
    font-size: 15px;
}

.menu-list {
    background-color: #fcfcfd;
    border-radius: 20px;
}

.menu-button a {
    background-color: #fcfcfd;
    color: #b00000;
}

.options-buttons a {
    background-color: #b00000;
    color: #fcfcfd;
}

.integrations {
    width: 90%;
}

.integration-list {
    display: flex;
    flex-direction: column;
    color: #fcfcfd;
}

.integration-list p {
    font-size: 25px;
    font-family: "Montserrat";
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

.integration-list div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 5px 15px 5px;
}

.integration-list svg {
    width: 15%;
    fill: #fcfcfd;
}

.exit {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 15px 5px 15px 5px;
}

.exit svg {
    fill: #fcfcfd;
    padding: 10px;
}

.exit-button {
    background-color: #b00000;
    color: #fcfcfd;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: bold;
}

/* .header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #1d201f;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 80vw;
}

.header-title {
    font-size: 50px;
    color: #ffffff;
}

.sucess-message {
    width: 60vw;
    display: flex;
    height: 50px;
    font-size: 20px;
    background-color: #4ceb93;
    border-radius: 7px;
    border: #14ce68 2px solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.series-list {
    display: flex;
    align-items: flex-start;
    width: 60vw;
    justify-content: space-around;
}

.now-watching {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.now-watching h2 {
    font-size: 30px;
}

.to-watch {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.to-watch h2 {
    font-size: 30px;
}

.series-group a {
    color: #ffffff;
}

.series-item {
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 20vw;
    background-color: #6369d1;
    border-color: #6369d1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.series-item:hover {
    padding: 7px;
    background-color: #555ab7;
    border-color: #555ab7;
}

.btn-add {
    background-color: #1d201f;
    border-color: #1d201f;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    width: 60vw;
    text-align: center;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.btn-add:hover {
    background-color: #0f1010;
    border-color: #0f1010;
    padding: 12px;
} */
