@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: "Lato", "Roboto", "Source Sans Pro", sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1d8d8;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #1d201f;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 80vw;
}

.header-title {
    font-size: 50px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-add {
    display: flex;
    flex-direction: column;
}

.form-add label {
    font-size: 25px;
    font-weight: bold;
}

.form-input {
    height: 30px;
    width: 70vw;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 0 10px;
    height: 40px;
    font-size: 20px;
    outline: none;
    border: 3px #555ab7 solid;
}

.form-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #1d201f;
    border-color: #1d201f;
    color: #ffffff;
    width: 70vw;
    text-align: center;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.form-btn:hover {
    background-color: #0f1010;
    border-color: #0f1010;
    padding: 12px;
}
