@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&Lato&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: "Montserrat", "Lato", "Roboto", "Source Sans Pro", sans-serif;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-size: 15px;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #fcfcfd;
}

.lateral-menu {
    display: flex;
    flex-direction: column;
    background-color: #b00000;
    width: 15vw;
    min-width: 220px;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    justify-content: space-between;
}

.logo {
    width: 100%;
}

.logo img {
    width: 100%;
}

.options {
    width: 90%;
}

.options-list,
.menu-list {
    display: flex;
    flex-direction: row;
    padding: 15px 5px 15px 5px;
    transition: padding 0.5s;
    align-items: center;
}

.options-list:hover,
.menu-list:hover {
    padding: 15px 5px 15px 15px;
}

.menu-list {
    background-color: #fcfcfd;
    border-radius: 20px;
}

.menu-list svg {
    width: 15%;
    fill: #b00000;
}

.menu-button button {
    background-color: #fcfcfd;
    color: #b00000;
    cursor: pointer;
}

.options-list svg {
    width: 15%;
    fill: #fcfcfd;
}

.options-buttons button {
    background-color: #b00000;
    color: #fcfcfd;
    cursor: pointer;
}

.integrations {
    width: 90%;
}

.integrations p {
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #fcfcfd;
}

.integration-list {
    display: flex;
    flex-direction: row;
    padding: 15px 5px 15px 5px;
    transition: padding 0.5s;
    align-items: center;
}

.integration-list:hover {
    padding: 15px 5px 15px 15px;
}

.integration-list svg {
    width: 15%;
    fill: #fcfcfd;
}

.integration-buttons button {
    background-color: #b00000;
    color: #fcfcfd;
    cursor: pointer;
}

.exit {
    width: 90%;
}

.exit-link {
    display: flex;
    flex-direction: row;
    padding: 15px 5px 15px 5px;
    transition: padding 0.5s;
    align-items: center;
}

.exit-link:hover {
    padding: 15px 5px 15px 15px;
}

.exit-link svg {
    width: 15%;
    fill: #fcfcfd;
}

.exit-button button {
    background-color: #b00000;
    color: #fcfcfd;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 13vh;
    align-items: center;
    box-shadow: 0 4px 30px -4px gray;
}

.search {
    display: flex;
    background-color: #efefef;
    border-radius: 15px;
    align-items: center;
    width: 40vw;
    justify-content: space-between;
    height: 50px;
    padding-right: 15px;
    margin-left: 20px;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown p {
    margin-right: 15px;
    margin-left: 15px;
    font-family: "Montserrat";
    font-weight: bold;
}

.dropdown a {
    display: flex;
    align-items: center;
}

.separator {
    color: #c5c5c5;
    font-size: 27px;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
}

.search input {
    background-color: #efefef;
    width: 15vw;
}

.search a {
    display: flex;
    align-items: center;
}

.search-icon {
    height: 24px;
    width: 24px;
    transition: all 0.5s;
}

.search-icon:hover {
    height: 28px;
    width: 28px;
}

.watched-minutes {
    display: flex;
    align-items: center;
}

.watched-minutes svg {
    fill: #b00000;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.minutes {
    display: flex;
    flex-direction: column;
}

.minutes h2 {
    font-weight: 100;
    color: #929292;
    font-size: 18px;
}

.minutes p {
    font-weight: bold;
    color: #b00000;
    font-size: 20px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    border-radius: 50%;
}

.icons a svg {
    height: 30px;
    width: 30px;
    fill: #b00000;
    transition: all 0.5s;
}

.icons a svg:hover {
    height: 35px;
    width: 35px;
}

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/images/Round6_Netflix_Serie_CDL_1920x1080_01.png);
    background-size: cover;
    width: 60%;
    height: 90%;
    min-height: 150px;
    min-width: 384px;
    border-radius: 20px;
}

.text-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    color: #fcfcfd;
    letter-spacing: 0.5px;
}

.banner div p {
    font-size: 15px;
}

.banner div h2 {
    font-size: 30px;
}

.banner button {
    width: 150px;
    height: 50px;
    margin: 30px;
    background-color: #fcfcfd;
    border-radius: 10px;
    color: #b00000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

.banner button:hover {
    width: 160px;
    height: 55px;
}

.friends-activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 90%;
    min-height: 150px;
    min-width: 250px;
}

.friends-title {
    display: flex;
    justify-content: space-between;
    height: 15%;
}

.friends-title h2 {
    font-weight: bold;
    font-size: 25px;
}

.friends-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 85%;
}

.friends {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #efefef;
    border-radius: 10px;
    padding: 5px;
    height: 30%;
}

.friends img {
    width: 100%;
    height: 100%;
    max-width: 7vmin;
    max-height: 7vmin;
    border-radius: 15px;
    object-fit: cover;
    margin-left: 5px;
}

.friends div {
    margin-left: 15px;
}

.friends-name {
    font-weight: bold;
    margin-bottom: 3px;
}

.friends-label-activity {
    color: #929292;
    font-size: 11px;
}

.friends-label-activity b {
    color: #929292;
    font-size: 11px;
}

.second-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 47vh;
    width: 100%;
}

.my-progression {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 25%;
}

.blocks-progression {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.title-progression {
    display: flex;
    justify-content: space-between;
}

.title-progression h2 {
    color: #b00000;
    font-weight: bold;
    font-size: 20px;
}

.title-progression a svg {
    fill: #b00000;
}

.progression-cards {
    margin-bottom: 10px;
}

.all-series {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards {
    margin-top: 20px;
}

.progression-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.progression-cards div {
    display: flex;
    flex-direction: column;
}

.activity-progression {
    color: #929292;
    font-size: 13px;
}

.percent {
    color: #b00000;
    font-size: 14px;
}

.all-series button {
    border-radius: 10px;
    background-color: #b00000;
    color: #fcfcfd;
    width: 80%;
    height: 50px;
    padding: 10px 50px;
}

.popular-series {
    width: 30%;
    height: 90%;
}

.title-popular {
    display: flex;
    justify-content: space-between;
}

.title-popular h2 {
    color: #b00000;
    font-weight: bold;
    font-size: 20px;
}

.title-popular svg {
    fill: #b00000;
}

.social-media-activity {
    width: 30%;
    height: 90%;
}
